@model Acciones.Models.Ciudadano

@{
    ViewData["Title"] = "Delete";
}

<h1>ELIMINAR REGISTRO DE CIUDADANO</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Paterno)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Paterno)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Materno)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Materno)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Calle)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Calle.NombreCalle)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumExterior)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumExterior)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumInterior)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumInterior)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Colonia)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Colonia.NombreColonia)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Cp)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Cp)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Telefono)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Telefono)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Partido)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Partido)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.TipoMiembro)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.TipoMiembro)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="CiudadanoId" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-action="Index">Cancelar</a>
</form>
 
