@model Acciones.Models.Diputado

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Diputado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegislaturaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegislaturaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaUltimoCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaUltimoCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiputadoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
