@model IEnumerable<Acciones.Models.Colonia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Colonias</h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.NombreColonia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var indice = 0; }
@foreach (var item in Model) {
    indice++;
        <tr>
            <td>@indice</td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreColonia)
            </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ColoniaId"><span style='cursor: pointer' class='fas fa-edit' title='Editar'></span></a>
            <a asp-action="Delete" asp-route-id="@item.ColoniaId"><span style='cursor: pointer' class='fas fa-trash' title='Eliminar'></span></a>
        </td>
        </tr>
}
    </tbody>
</table>
