@model Acciones.Models.Iniciativas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Iniciativas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegislaturaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegislaturaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatTipoIniciativaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatTipoIniciativaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresidenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresidenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSecuencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSecuencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusIniciativaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusIniciativaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRecibido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRecibido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAprobacionComision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAprobacionComision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAprobabcionPleno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAprobabcionPleno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacionSa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacionSa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresentadorIntExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresentadorIntExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPresentadoresInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPresentadoresInt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPresentadoresExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPresentadoresExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaUltimoCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaUltimoCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IniciativaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
