@model Acciones.Models.Evento

@{
    ViewData["Title"] = "Edita Evento";
}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>

@{
    List<SelectListItem> estatusEvento = new List<SelectListItem>();
    estatusEvento.Add(new SelectListItem() { Text = "", Value = "0" });
    estatusEvento.Add(new SelectListItem() { Text = "PLANEADO", Value = "1" });
    estatusEvento.Add(new SelectListItem() { Text = "REALIZADO", Value = "2" });
    estatusEvento.Add(new SelectListItem() { Text = "POSPUESTO", Value = "3" });
    estatusEvento.Add(new SelectListItem() { Text = "CANCELADO", Value = "4" });
}

@{
    List<SelectListItem> tipoEvento = new List<SelectListItem>();
    tipoEvento.Add(new SelectListItem() { Text = "", Value = "" });
    tipoEvento.Add(new SelectListItem() { Text = "A", Value = "A" });
    tipoEvento.Add(new SelectListItem() { Text = "B", Value = "B" });
    tipoEvento.Add(new SelectListItem() { Text = "C", Value = "C" });
    tipoEvento.Add(new SelectListItem() { Text = "D", Value = "D" });
}

<h1>ACTUALIZAR EVENTO</h1>
<hr />
<div class="card">
    <h4 class="card-header" style='text-align: center; background-color: black; color: white; border-radius: 10px 10px 10px 10px; padding:2px;'>EVENTO</h4>
    <div class="card-body">

        <table class='table table-bordered' style='width:100%;'>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="LegislaturaLabel">Legislatura</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="FolioLabel">Folio</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="20%">
                    <label for="EstatusLabel">Estatus</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="15%">
                    <label for="NumAsistentesLabel">Número Asistentes</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="20%">
                    <label for="FechaEventoLabel" id="FechaRecibidoLabel">Fecha Evento</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="HoraLabel" id="HoraLabel">Hora Inicio</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="15%">
                    <label for="TipoLabel">Tipo</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <select id="LegislaturaId" class="form-control" asp-items="ViewBag.LegislaturaId"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <input type="text" class="form-control" name="FolioEventoActualiza" id="FolioEventoActualiza" asp-for="Folio" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select asp-for="Estatus" id="opcionEstatusId" class="form-control" asp-items="estatusEvento"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <input type="text" class="form-control" name="NumAsistentes" id="NumAsistentes" asp-for="NumAsistentes" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <div class='input-group date' id='datetimepickerFEvento'>
                        <input asp-for="Fecha" id="FechaEvento" class="form-control" />
                    </div>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <input class="form-control" type="time" id="HoraInicioEvento" name="HoraInicioEvento" asp-for="HoraInicio">
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <select asp-for="TipoEventoId" id="opcionTipoEventos" class="form-control" asp-items="ViewBag.TiposEvento"></select>
                </td>
            </tr>
        </table>

        <table class='table table-bordered' style='width:100%;'>
            <tr>
                <td style='text-align: center; padding: 5px; cursor: pointer; color: blue; text-decoration: underline;' title='Registra Nueva Colonia' onclick='mostrarModalNuevaColonia();' class='fondoAzul_p_LetraNegra_3v' width="30%">
                    <label for="LugarLabel" id="ColoniaLabel">Lugar</label>
                </td>
                <td style='text-align: center; padding: 5px; cursor: pointer; color: blue; text-decoration: underline;' title='Registra Nueva Colonia' onclick='mostrarModalNuevaColonia();' class='fondoAzul_p_LetraNegra_3v' width="20%">
                    <label for="ColoniaLabel" id="ColoniaLabel">Colonia</label>
                </td>
                <td style='text-align: center; padding: 5px; cursor: pointer; color: blue; text-decoration: underline;' title='Registra Nueva Calle' onclick='mostrarModalNuevaCalle();' class='fondoAzul_p_LetraNegra_3v' width="20%">
                    <label for="CalleLabel">Calle</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="NumeroExteriorLabel"># Exterior</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="NumeroInteriorLabel"># Interior</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="CPLabel">CP</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="30%">
                    <input type="text" class="form-control" name="Lugar" id="Lugar" asp-for="Lugar" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="coloniasBuscar" id="coloniasBuscar" value="@ViewBag.ColoniaVD" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="callesBuscar" id="callesBuscar" value="@ViewBag.CalleVD" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <input type="text" class="form-control" name="IngresaNumExt" id="IngresaNumExt" asp-for="NumExterior" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <input type="text" class="form-control" name="IngresaNumInt" id="IngresaNumInt" asp-for="NumInterior" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <input type="text" class="form-control" name="IngresaCP" id="IngresaCP" asp-for="Cp" />
                </td>
            </tr>
        </table>

        <input type="text" id="hColoniaBuscar" name="hColoniaBuscar" style="display:none" value="@Model.ColoniaId" />
        <input type="text" id="hCalleBuscar" name="hCalleBuscar" style="display:none" value="@Model.CalleId" />
        <input type="text" id="hEventoId" name="hEventoId" style="display:none" value="@Model.EventoId" />
        <input type="text" id="hFolioId" name="hEventoId" style="display:none" value="@Model.Folio" />
        <input type="text" id="hFechaRegEvento" name="hFechaRegEvento" style="display:none" value="@Model.FechaRegistro" />

        <input type="text" id="hAsistenteBuscar" name="hAsistenteBuscar" style="display:none" />

        <div>
            <div class="alert alert-success" id="mensajeColonia_OK" style="display:none;" align="center">
                <strong>Los Datos Fueron Guardados</strong>
            </div>
            <div class="alert alert-danger" id="mensajeColonia_Error" style="display:none;" align="center">
                <strong>Los Datos NO Fueron Guardados</strong>
            </div>
            <div class="alert alert-danger" id="mensajeColonia_Existente" style="display:none;" align="center">
                <strong>Ya existe una Colonia con el mismo nombre</strong>
            </div>

            <div class="alert alert-danger" id="msgSelColonia_AntesDeNvaCalle" style="display:none;" align="center">
                <strong>Para registrar una nueva calle, debe seleccionar una colonia</strong>
            </div>
        </div>

        <div>
            <div class="alert alert-danger" id="msgAlertFolioExistente" style="display: none;" align="center">
                <strong>Este FOLIO ya existe!</strong>.
            </div>
        </div>

        <table class='table table-bordered' style='width:100%;'> 
            <tr style="padding:2px;">
                <td style='text-align: center; vertical-align: middle;' class='fondoAzul_p_LetraNegra_3' width="25%">
                    <label for="LatitudCiudadano" class="control-label" onclick="ObtieneLalitudLongitudActual();">Latitud</label>
                </td>
                <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="25%">
                    <input type="text" class="form-control" name="Latitud" id="Latitud" asp-for="Latitud" />
                </td>
                <td style='text-align: center; vertical-align: middle;' class='fondoAzul_p_LetraNegra_3' width="25%">
                    <label for="LongitudCiudadano" class="control-label">Longitud</label>
                </td>
                <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="25%">
                    <input type="text" class="form-control" name="Longitud" id="Longitud" asp-for="Longitud" />
                </td>
            </tr>
        </table>


        <table class='table table-bordered' style='width:100%;'>
            <tr style="padding:2px;">
                <td style='text-align: center; vertical-align: middle;' class='fondoAzul_p_LetraNegra_3' width="15%">
                    <label for="DescripcionLabel" class="control-label">Nombre del Evento</label>
                </td>
                <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="85%">
                    <textarea id="DescripcionEvento" name="Notas" rows="3" style="width:100%; max-width:100%;" oninput=onInputDescripcionEvento(event) asp-for="Descripcion"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <div class="alert alert-danger" id="msgAlerta_DatosIncompletos" style="display: none;" align="center">
        <strong> Debe registrar por lo menos Folio, Calle, Colonia, Fecha y Nombre del Evento.</strong>
    </div>
    <div class="alert alert-success" id="mensajeAlerta_OK" style="display:none;" align="center">
        <strong>Los Datos Fueron Guardados</strong>
    </div>
    <div class="alert alert-danger" id="mensajeAlerta_Error" style="display:none;" align="center">
        <strong>Los Datos NO Fueron Guardados</strong>
    </div>
</div>
 
<div align="center">
    <button type='button' onclick='ActualizaEvento();' class='BotonNaranjaClaro redondeada'>ACTUALIZAR</button>&nbsp;
    <a asp-action="Index"><button class="BotonNaranjaClaro redondeada">CANCELAR</button> </a>
</div>


<hr style="background-color: rgba(250, 196, 94, 0.8); " />

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <ul id="tabsJustified" class="nav nav-pills flex-column" style="background-color: rgba(220,223,226,.8);">
                    <li class="nav-item"><a id="opc_1" href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase active" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">ARCHIVOS</a></li>
                    <li class="nav-item"><a id="opc_2" href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">INVITADOS</a></li>
                </ul>
                <div class="tab-content border rounded p-3 w-100" style="background-color: rgba(181, 185, 195, 0.3); ">
                    <div id="home1" class="tab-pane fade active show">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>ARCHIVOS ANEXOS</h4>
                        <div id="divArchivosAnexosNvoEvento"></div>
                    </div>
                    <div id="profile1" class="tab-pane fade">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>INVITADOS</h4>
                        <div id="divAsistentesNvoEvento"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*---------Modal Alta Colonia ---------*@
<div class="modal" id="divModalAltaColonia" tabindex="-2" role="dialog" aria-labelledby="divModalAltaColonia">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="centrarVH">
                    <span style='font-size:25px; cursor:pointer' id="referenciaRequisito" class="badge"></span>
                </p>
                <p>
                    <h4 id="idTituloNuevaColonia" class="modal-title" style="padding-left:10px;"><srong>Registro de Nueva Colonia</srong></h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div style='width:100%; max-width:100%;'>
                    <input id="inputNombreColonia" lang="es" placeholder="Proporcione el nombre de la colonia" style='width:100%; max-width:100%;'>
                </div>

                <input id="HiddenColoniaId" type="hidden" name="HiddenColoniaId" value="">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarNuevaColoniaButton()" class="btn btn-dark">Guardar</button>
            </div>
        </div>
    </div>
</div>



@*---------Modal Alta Calle ---------*@
<div class="modal" id="divModalAltaCalle" tabindex="-2" role="dialog" aria-labelledby="divModalAltaCalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="centrarVH">
                    <span style='font-size:25px; cursor:pointer' id="referenciaRequisito" class="badge"></span>
                </p>
                <p>
                    <h4 id="idTituloNuevaColonia" class="modal-title" style="padding-left:10px;"><srong>Registro de Nueva Calle</srong></h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div style='width:100%; max-width:100%;'>
                    <input id="inputNombreCalle" lang="es" placeholder="Proporcione el nombre de la calle" style='width:100%; max-width:100%;'>
                </div>

                <input id="HiddenCalleId" type="hidden" name="HiddenCalleId" value="">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarNuevaCalleButton()" class="btn btn-dark">Guardar</button>
            </div>
        </div>
    </div>
</div>

@*---------Modal Seleccionar y Subir Archivo Evento ---------*@
<div class="modal" id="ModalSeleccionarArchivosEvento" tabindex="-2" role="dialog" aria-labelledby="ModalSeleccionarArchivosEventos">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="centrarVH">
                    <span style='font-size:25px; cursor:pointer' id="referenciaRequisito" class="badge"></span>
                </p>
                <p>
                    <h4 id="idTituloSubirArchivosEventos" class="modal-title" style="padding-left:10px;"><srong>Documento Anexos de Evento</srong></h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="custom-file">
                    <input type="file" multiple class="custom-file-input" id="FileUploadFormFileEvento" lang="es" placeholder="">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>

                <input id="HiddenPeticionId" type="hidden" name="HiddenPeticionId" value="">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn BotonNaranjaClaro" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="subirArchivosEventoButton('FileUploadFormFileEvento')" class="btn BotonNaranjaClaro">Subir</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
